<!DOCTYPE html>
<html lang="ch">
<head>
    <meta charset="UTF-8">
    <title>主机管理系统</title>
    <link rel="stylesheet"  href="/static/js/Font-Awesome-3.2.1/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/lmc.css"/>
</head>
<body>
    <div class="col-12 header blue f-white">
        <div class="left">
            <i class="icon-laptop icon-large"></i>
            <a href="/index/"><span>主机管理系统</span></a>
        </div>
        <div class="right loginout">
            <a href="/login_out/"><span>{{ lg_out }}</span></a>
        </div>
        <div class="clear-float"></div>
    </div>
    <div class="content">
        <div class="block">
            <div class="plate-1 plate blue f-white">
                <div target-url="{{ url }}">
                    <i class="icon-key icon-3x"></i>
                    <h2>{{ msg }}</h2>
                </div>
            </div>
            <div class="plate-2  plate orange f-white">
                <div>
                    <a id="reg">
                        <i class="icon-user icon-3x"></i>
                        <h2>用户注册</h2>
                    </a>
                </div>
            </div>
            <div class="plate-3 plate success f-white">
                <div target-url="/setting/">
                    <i class="icon-cogs icon-3x"></i>
                    <h2>系统管理</h2>
                </div>
            </div>
            <div class="plate-4 plate default f-white">
                <div target-url="/host/">
                    <i class="icon-desktop icon-3x"></i>
                    <h2>主机管理</h2>
                </div>
            </div>
        </div>
    </div>
    <div class="shadow blue hidden"></div>
    <div class="modal col-6 hidden">
        <div class="m-title f-center">用户注册</div>
        <div class="row">
            <div class="col col-2"><label><span>*</span>用&nbsp;&nbsp;户&nbsp;&nbsp;名：</label></div>
            <div class="col col-5"><input require="true" max-len="18" min-len="6" filed="string" type="text" name="user" /></div>
            <div class="col col-4 errmsg"></div>
        </div>
        <div class="row">
            <div class="col col-2"><label><span>*</span>密&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;码：</label></div>
            <div class="col col-5"><input require="true" max-len="18" min-len="6" filed="string" type="password" name="pwd" /></div>
            <div class="col col-4 errmsg"></div>
        </div>
        <div class="row">
            <div class="col col-2"><label><span>*</span>重复密码：</label></div>
            <div class="col col-5"><input require="true" filed="repeat" re-for="pwd" type="password" name="repwd" /></div>
            <div class="col col-4 errmsg"></i></div>
        </div>
        <div class="row">
            <div class="col col-2"><label><span>*</span>姓&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;名：</label></div>
            <div class="col col-5"><input require="true" filed="chinese" type="text" name="name" /></div>
            <div class="col col-4 errmsg"></i></div>
        </div>
        <div class="row">
            <div class="col col-2"><label><span>*</span>手&nbsp;&nbsp;机&nbsp;&nbsp;号：</label></div>
            <div class="col col-5"><input require="true" filed="tel" type="text" name="tel" /></div>
            <div class="col col-4 errmsg"></div>
        </div>
        <div class="row m-btn">
            <div class="f-center">
                <button class="btn btn-xl success" id="register">注册</button>
                <button class="btn btn-xl error" id="cancel">取消</button>
            </div>
        </div>
    </div>
    <script src="/static/js/jquery/jquery-3.2.1.min.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/sha1.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/lmc.js" type="text/javascript" charset="utf-8"></script>
    <script src="/static/js/index.js" type="text/javascript" charset="utf-8"></script>
</body>
</html>