<!DOCTYPE html>
<html lang="ch">
<head>
    <meta charset="UTF-8">
    <title>主机管理系统</title>
    <link rel="stylesheet"  href="/static/js/Font-Awesome-3.2.1/css/font-awesome.min.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/index.css"/>
    <link rel="stylesheet" type="text/css" href="/static/css/lmc.css"/>
</head>
<body>
    <div class="col-12 header blue f-white">
        <div class="left">
            <i class="icon-laptop icon-large"></i>
            <span>主机管理系统</span>
        </div>
    </div>
    <div class="content">
        <div class="block">
            <div class="plate-1 plate blue f-white">
                <div>
                    <i class="icon-key icon-3x"></i>
                    <h2>用户登录</h2>
                </div>
            </div>
            <div class="plate-2  plate orange f-white">
                <div>
                   <i class="icon-user icon-3x"></i>
                    <h2>用户注册</h2>
                </div>
            </div>
            <div class="plate-3 plate success f-white">
                <div>
                    <i class="icon-cogs icon-3x"></i>
                    <h2>系统设置</h2>
                </div>
            </div>
            <div class="plate-4 plate default f-white">
                <div>
                    <i class="icon-desktop icon-3x"></i>
                    <h2>主机管理</h2>
                </div>
            </div>
        </div>

    </div>
</body>
</html>