body{
	margin:0;
	overflow:scroll;
}
.pg-head{
	margin:0 auto;
	/*width:980px;*/
	/*height:300px;*/
}
.head-top{
	height:28px;
	background-color:#EEB4B4;
	overflow:hidden;
}
.top-bar{
	width:980px;
	margin:0 auto;
}
.head-collect,.head-login{
	color:#E0FFFF;
	line-height:28px;
	font-size:12px;
	text-align:center;
}
.head-collect{
	float:left;
}
.head-login{
	float:right;
}
table{
	border-spacing:0;
}
.head-login td{
	padding:0;
}
.top-bar:after{
    clear: both;
    content: '';
    display: block;
}
.head-logo{
	width:980px;
	margin:0 auto;
	/*height:520px;,.logo-bar*/
}
.logo{
	float:left;
}
.logo a img{
	width:300px;
}
.search-bar{
	margin:auto;
	float:right;
}
.shopping-car{
	float:right;
	position: relative;
}
#triangle-down {
    width: 0;
    height: 0;
    border-left: 50px solid transparent;
    border-right: 50px solid transparent;
    border-top: 100px solid red;
}


