*{
    margin:0;
    padding:0;
}
body {

    font-size:12px;
    color: #666;
    background-color: #f0f3ef;
}
li {
    list-style: none;
}
a{
    color: #666;
    text-decoration: none;
}
a:hover{
    color: #c81623;
}

@media only screen and (min-width: 1190px){
        .header{
        margin:auto;
        width: 1190px;
        border-top:0;
        position: relative;
        height: 140px;
        background-color: #f0f3ef;
    }

}
@media only screen and (max-width: 1189px){
        .header{
        margin:auto;
        width: 990px;
        border-top:0;
        position: relative;
        height: 140px;
        background-color: #f0f3ef;
    }

}
/*
.header{
    margin:auto;
    width: 90%;
    border-top:0;
    position: relative;
    height: 140px;
    background-color: #f0f3ef;
}
*/
.logo{
    width:190px;
    height:170px;
    box-shadow: 0 -12px 10px rgba(0,0,0,.2);
    background-color:#FFFFFF;
    /*position:relative;
    top:-38px;*/
    position:absolute;
    top:-39px;
}
.top-bar{
    width:100%;
    height:38px;
    border-bottom: 1px solid #ddd;
    background-color: #e3e4e5;
    z-index:22;
}
@media only screen and (min-width: 1190px){
    .top-menu{
        margin:auto;
        padding:0 10px;
        height:38px;
        width:1190px;
    }
}

@media only screen and (max-width: 1189px){
    .top-menu{
        margin:auto;
        padding:0 10px;
        height:38px;
        width:990px;
    }
}
/*
.top-menu{
    margin:auto;
    padding:0 10px;
    height:38px;
    width:90%;
}
*/
.provence{
    width:57px;
    float:left;
    margin-left:200px;
    line-height:38px;
    text-align:center;
    color: #999;
}
.dropdown{
    width:57px;
    display:inline-block;
    position: relative;
}
.dropdown:hover{
    background-color:#ffffff;
    border-left:1px solid #ddd;
    border-right:1px solid #ddd;
    border-bottom:1px solid #ffffff;
}

.dropdown-content{
    display:none;
    position: absolute;
    z-index:21;
    background-color:#fff;
}
.p-items{
    width:300px;
    border:1px solid #ddd;
    border-top:0;
    padding:10px;
}
.p-item{
    float:left;
    width: 60px;
    padding: 2px 0;
}
.provence:hover .dropdown-content{
    display:block;
}
.provence:hover .dropdown{
    background-color:#ffffff;
    border-left:1px solid #ddd;
    border-right:1px solid #ddd;
    border-bottom:1px solid #ffffff;
}
.u-menu{
    float:right;
    height:38px;
    line-height:38px;
}
.spacer{
    overflow: hidden;
    margin: 15px 5px 0;
    width: 1px;
    height: 10px;
    background-color: #ccc;
    list-style: none;
    float:left;
    display:inline-block;
}
.u-item{
    float:left;
    margin:auto;
    display:inline-block;
    padding:0 7px;
    border-left:1px solid  #e3e4e5;
    border-right:1px solid  #e3e4e5;
}
.red{
    color:#ee4000;
}
.link-menu:link{
    text-decoration:none;
    color:#666;
}
.link-menu:hover{
    color:#EE4000;
}
.dropdown-my{
    width:270px;
    position:absolute;
    top:38px;
    left:-1px;
    display:none;
}
.my-items{
    border:1px solid #ddd;
    border-top:0;
    padding: 10px 0 10px 0px;
    overflow: hidden;
}
.my-item{
    float:left;
    width: 120px;
    line-height:24px;
    padding-left:10px
}
.line-space{
    float:left;
    width:100%;
    border-top:1px solid #ddd;
    margin:10px 0;
}
.dropdown:hover .dropdown-my{
    z-index:21;
    display:block;
    background-color:#fff;
}
.dropdown-server{
    position:absolute;
    top:38px;
    right:-1px;
    width: 170px;
    padding: 10px 0;
    border:1px solid #ddd;
    border-top:0;
    line-height: 24px;
    display:none;
}
.tit{
    padding-left: 15px;
    width:80%;
    float:left;
    font-weight: 700;
    color: #666;
}
.s-menu1{
    float:left;
    border-bottom:1px dashed #ddd;
    padding-bottom:5px;
}
.s-menu2{
    float:left;
    padding-top:5px;
}
.s-item{
    float:left;
    display: inline-block;
    width: 70px;
    padding-left: 15px;
}
.dropdown:hover .dropdown-server{
    z-index:21;
    display:block;
    background-color:#fff;
}
.img-logo{
    width:190px;
    height:170px;
    border:0;
}
.search{
    width:100%;
    height:60%;
    position:relative;
}
@media only screen and (min-width: 1190px){
    .s-form{
        position: absolute;
        left: 320px;
        top: 25px;
        width: 550px;
        height: 35px;
    }
    .text{
        position: absolute;
        left: 0;
        top:0;
        padding: 4px;
        padding-right:40px;
        width: 453px;
        height: 25px;
        border: 1px solid transparent;
        line-height: 25px;
        font-size: 14px;
        color: #989898;
    }
    .s-btn{
        position: absolute;
        right: 0;
        width: 50px;
        height: 35px;
        line-height: 35px;
        border: none;
        background-color: #f10215;
        font-size: 20px;
        font-weight: 700;
        color: #fff;
        top: 0;
        outline: none;
        background-image:url(../image/search.png);
        background-size:35px 30px;
        background-repeat:no-repeat;
        background-position: center;
    }
    .photo{
        position: absolute;
        right:60px;
        top:3px;
        margin-top:8px;
        background-image:url(../image/sprite-photo-search.png);
        width:19px;
        height:15px;
        background-size:110px 80px;
        background-position:0 0;
        background-repeat:no-repeat;
    }

}
@media only screen and (max-width: 1189px){
    .s-form{
        position: absolute;
        left: 320px;
        top: 25px;
        width: 400px;
        height: 35px;
    }
    .text{
        position: absolute;
        left: 0;
        top:0;
        padding: 4px;
        padding-right:25px;
        width: 319px;
        height: 25px;
        border: 1px solid transparent;
        line-height: 25px;
        font-size: 14px;
        color: #989898;
    }
    .s-btn{
        position: absolute;
        right: 0;
        width: 50px;
        height: 35px;
        line-height: 35px;
        border: none;
        background-color: #f10215;
        font-size: 20px;
        font-weight: 700;
        color: #fff;
        top: 0;
        outline: none;
        background-image:url(../image/search.png);
        background-size:35px 30px;
        background-repeat:no-repeat;
        background-position: center;
    }
    .photo{
        position: absolute;
        right:55px;
        top:3px;
        margin-top:8px;
        background-image:url(../image/sprite-photo-search.png);
        width:19px;
        height:15px;
        background-size:110px 80px;
        background-position:0 0;
        background-repeat:no-repeat;
    }

}
.photo:hover{
    background-position:-30px 0;
}

/*
.s-form{
    position: absolute;
    left: 320px;
    top: 25px;
    width: 400px;
    height: 35px;
}
*/

.shopping-car{
    position: absolute;
    right: 15px;
    top: 25px;
    width: 188px;
    height: 33px;
    border: 1px solid #e3e4e5;
    background-color: #fff;
    text-align: center;
    line-height: 33px;

}
.shopping-car:hover{
    border-color:#ccc;
    border-bottom:1px solid #fff;
}
.shopping-list{
    position:absolute;
    top:33px;
    right:-1px;
    width:160%;
    height:120px;
    display:none;
    background-color: #fff;
    border: 1px solid #ccc;
    z-index:21;
}
.shopping-list div{
    margin:auto;
}
.shopping-car:hover .shopping-list{
    display:block;
}
.line-block{
    width:100%;
    position:absolute;
    top:33px;
    right:0px;
    height:1px;
    background-color:#ccc;
    z-index:21;

}
.shopping-car:hover .line-block{
    background-color:#fff;
}
.hotkeys{
    position:absolute;
    top:65px;
    height:20px;
    left:320px;
    line-height:20px;
}
.hotkeys a{
    display:inline-block;
    text-decoration:none;
    margin-right:8px;
}
.hotkeys a:hover{
    color:red;
}
.grey{
    color:#666;
}
.baritems{
    position:absolute;
    left:200px;
    width:80%;
    height:40px;
    padding-top:17px;
}
.bargrop{
    font-size:14px;
    display:inline-block;
    list-style-type:none;
    line-height:40px;
    text-align:center;
}
.bar-item{
    float:left;
    margin-left:30px;
    display:inline-block;
}
.b-spacer{
    width:20px;
    height:1px;
    float:left;
}
.new{
    position:absolute;
    background-color:red;
    top:-14px;
    right:-22px;
    color:#fff;
    width:50px;
    height:25px;
    line-height:25px;
    border-radius:8px 8px 8px 0px;
}
.tips{
    position:relative;
}
@media only screen and (min-width: 1190px) {
    .content{
        position:relative;
        margin:0 auto;
        width:1191px;
        height:490px;
        background-color:#f0f3ef;
    }
}
@media only screen and (max-width: 1189px) {
    .content{
        position:relative;
        margin:0 auto;
        width:990px;
        height:490px;
        background-color:#f0f3ef;
    }
}
/*.content{
    position:relative;
    margin:0 auto;
    width:90%;
    height:490px;
    background-color:#f0f3ef;
}
*/
.left-menu{
    position:absolute;
    top:-10px;
    background-color:#fff;
    width:190px;
    height:480px;
    color:#626262;
}
.l-grop{
    padding:20px 0;
    font-weight:300;
    font-size:14px;
}
.l-item{
    list-style-type:none;
    padding-left: 20px;
    height: 28px;
    line-height: 28px;
}
.l-item:hover{
    color:#fff;
    background-color:#f10215;
}
.leftout-group{
    position: absolute;
    z-index:21;
    top: -10px;
    left: 190px;
    width: 80%;
    display:none;
    transition: top .25s ease;
    border: 1px solid #f7f7f7;
    background-color: #f7f7f7;
    box-shadow: 2px 0 5px rgba(0,0,0,.3);
}
.group-fix{
    padding: 20px 0 10px;
    float:left;
    position:relative;
    width:70%;
}
.group-channel{
    overflow: hidden;
    padding-left: 20px;
    height: 24px;
    font-weight:300;
}
.channel-lk{
    float: left;
    margin-right: 10px;
    padding: 0 10px;
    height: 24px;
    background-color: #333;
    line-height: 24px;
    color: #fff;
    text-decoration:none;
}
.channel-lk:hover{
    background-color:#5c5251;
}
.group-items{
    overflow:hidden;
    padding:10px 0 0 20px;

}
.g-items1{
    width:100%;
    position:relative;
    padding-left:80px;
}
.g-item{
    overflow: hidden;
    padding:6px 0;
    border-bottom:1px solid #ccc;
}
.g-items-tit{
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 9px;
    width: 70px;
    text-align: right;
    font-weight: 700;
    white-space: nowrap;
    text-overflow: ellipsis;
    display:block;
}

.g-item-lk{
    float:left;
    display:block;
    margin:4px 0;
    padding:0 10px;
    height:16px;
    line-height:16px;
    border-left:1px solid #e0e0e0;
    text-decoration:none;
    color:#626262;
    font-weight:300;
    white-space: nowrap;/*元素内空白不换行*/
}
.g-item-lk:hover{
    color:#f10215;
}
.group-fix2{
    float:right;
    margin:auto;
    width:198px;
}
.brand-list{
    margin:auto;
    width:168px;
    padding-top:20px;
    font-size:0;
}
.brand-lk{
    overflow: hidden;
    display: inline-block;
    width: 83px;
    height: 35px;
    margin: 0 0 1px 1px;
    background-color: #e7e7e7;
}
.brand.lk img{
    width:83px;
    height:35px;
    border:0;
}
.promotion{
    margin: 10px auto 0;
    width: 168px;
}
.middle-img{
    position:absolute;
    left:190px;
    border:0;
    width:590px;
    height:470px;
    margin:0 10px;
}
.mid-box{
    position:relative;
    width:590px;
    height:470px;
}
.img-box{
    position:relative;

}
.img-box a{
    position:absolute;
    display:block;
    top:0;
    z-index:1;
}
.img-switch{
    z-index: 11;
    margin-top: -20px;
    width: 24px;
    height: 40px;
    background-color: rgba(0,0,0,.2);
    line-height: 40px;
    text-align: center;
    opacity: 0.6;
}
.img-switch:hover{
    opacity:1;
}
.img-btn-left{
    position:absolute;
    top:50%;
    left:0;

}
.img-btn-right{
    position:absolute;
    top:50%;
    right:0;

}
.img-btn-point{
    position:absolute;
    top:92%;
    left:20%;
    height:18px;
    z-index:11;
}

.btn-circle{
    float:left;
    margin:auto 2px;
    width: 8px;
    height: 8px;
    opacity: 0.3;
    -moz-border-radius: 7px;
    -webkit-border-radius: 7px;
    border-radius: 7px;
    border:3px solid #fff;
    z-index:11;
}
.btn-circle-sel{
    border:3px solid #CAE1FF;
    opacity: 1;
}
@media only screen and (min-width:1190px){
    .col-ch{
        position:absolute;
        right: 200px;
        width: 190px;
        height: 470px;

    }

}
@media only screen and (max-width:1189px){
    .col-ch{
        display:none;
    }

}
.col-ch-item{
    width: 190px;
    height: 150px;
    margin-top: 5px;
}
.col-ch-item a img{
    display: block;
    width: 190px;
    height: 150px;

}




.col-right{
    position:absolute;
    overflow:hidden;
    top:-10px;
    right:0px;
    width: 190px;
    height: 480px;
    /*border:2px solid red;*/
    margin:0 0 0 10px;
}
.user-form{
    height: 160px;
    background: #fff;
    margin-top: 10px;
    text-align: center;
}
.user-head{
    position: relative;
    padding-top: 70px;
    height: 50px;
}
.user-photo{
    position: absolute;
    left: 50%;
    top: -10px;
    margin-left: -34px;
    width: 65px;
    height: 65px;
}
.user-photo img{
    display: block;
    width: 65px;
    height: 65px;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.user-lk{
    position: absolute;
    display:block;
    left: -17px;
    top: -16px;
    width: 106px;
    height: 108px;
    background-image: url(../image/sprite.user.png);
    background-position: 0 0;

}
.user-msg{
    padding: 0 10px;
}
.user-msg p{
    overflow: hidden;
    line-height: 20px;
    width: 100%;
    white-space: nowrap;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    color: #888;
}
.user-btn{
    height: 25px;
    font-size: 0;
}
.new-user{
    display: inline-block;
    margin: 0 5px;
    width: 70px;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    text-align: center;
    color: #e43f3b;
    border-radius: 13px;
    box-shadow: 4px 6px 12px 2px rgba(45,45,45,.15);
    transition: all .3s ease;
}
.plus-vip{
    display: inline-block;
    background: #363634;
    color: #e5d790;
    margin: 0 5px;
    width: 70px;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    text-align: center;
    border-radius: 13px;
    box-shadow: 4px 6px 12px 2px rgba(45,45,45,.15);
    transition: all .3s ease;
}
.plus-vip:hover{
    background-color: #e01222;
    color: #fff;
}
.news{
    padding-top:10px;
    background: #fff;
    text-align: center;
}
.news-title{
    text-align:center;
    font-weight:300;
    position:relative;
}
.news-tit-left{
    display:inline-block;
    float:left;
    margin:auto 10px;
}
.news-tit-right{
    display:inline-block;
    float:right;
    margin-right:10px;
}
.news-tit-space{
    float:left;
    width:1px;
    height:10px;
    margin-top:5px;
    background-color:#ccc;
}
.red-line{
    position:absolute;
    top:18px;
    left:10px;
    width:25px;
    height:2px;
    background-color:#e43f3b;
    transition: left .5s;
}

.news-content{
    position: relative;
    padding-top: 12px;
    margin: 0 15px;
    height: 100px;
    font-weight: 300;
    text-align:left;
    text-overflow: ellipsis;
}
.news-tab{
    height: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
}
.news-tab ul li{
    height:25px;
    line-height:25px;
    display:block;
    overflow:hidden;
    white-space:nowrap;
    text-overflow: ellipsis;
}
.service{
    overflow: hidden;
    height: 170px;
    background-color:#fff;
}
.ser-icon{
    overflow: hidden;
    padding: 15px 15px 15px;
}
.ser-list{
    height:135px;
}
.ser-item{
    position: relative;
    float: left;
    width: 40px;
    height: 45px;
    background: #fff;
    text-align: center;


}
.ser-lk{
    display:block;
    padding-top: 16px;
    transition: all .15s ease-in-out;
    width:40px;
    height:49px;

}
.ser-ico{
    display:block;
    width:24px;
    height:24px;
    margin:auto;
    background-image:url(../image/service.png);
    background-size:103.5px 77px;/*207X154*/
    background-clip:content-box;
    background-repeat:no-repeat;
}
.ser-ico-money{
    background-position:-26.5px 0px;
}
.ser-ico-fly{
    background-position:0px -53px;
}
.ser-ico-hotel{
    background-position:0px 0px;
}
.ser-ico-game{
    background-position:-26.5px -26.5px;
}
.ser-ico-comp{
    background-position:-53px 0px;
}
.ser-ico-water{
    background-position:-26.5px 0px;
}
.ser-ico-video{
    background-position:-53px -26.5px;
}
.ser-ico-train{
    background-position:-26.5px -53px;
}
.ser-ico-zhongchou{
    background-position:-53px -53px;
}
.ser-ico-licai{
    background-position:-79.5px 0px;
}
.ser-ico-card{
    background-position:-79.5px -26.5px;
}
.ser-ico-baitiao{
    background-position:-79.5px -53px;
}
.ser-tip{
    position:absolute;
    top:0;
    right:0;
    width: 12px;
    height: 16px;
    font-size: 12px;
    line-height: 12px;
    text-align: center;
    background: #e01121;
    color: #fff;
    font-weight:300;
}
.ser-tip-text{
    vertical-align: top;
    font-style: normal;
}
.ser-tip:after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    font-size: 0;
    line-height: 0;
    border: solid;
    border-width: 2px 6.5px;
    border-color: #e01121 #e01121 #fff;
}
@media only screen and (min-width: 1190px){
    .floors{
        position:relative;
        margin:auto;
        width:1191px;
        height:275px;
        background-color:#fff;
        overflow: hidden;
    }
}
@media only screen and (max-width: 1189px) {
    .floors{
        position:relative;
        margin:auto;
        width:990px;
        height:275px;
        background-color:#fff;
        overflow: hidden;
    }
}
/*
.floors{
    position:relative;
    margin:auto;
    width:90%;
    height:275px;
    background-color:#fff;
    overflow: hidden;
}
*/
.fk-hd{
    position: relative;
    float: left;
    width: 190px;
    height: 275px;
    background: #e83632;
    color: #fff;
    border-left:1px solid #ccc;
}
.fk-hd-tit{
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    top: 42px;
    font-size: 34px;
}
.fk-hd-tit2{
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    top: 90px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 20px;
}
.fk-hd-ico{
    position: absolute;
    left: 86px;
    top: 126px;
    display: block;
    width: 20px;
    height: 33px;
    background-image: url(../image/seckill.png);
    background-position: -32.5px 0px;
    -moz-background-size: 52.5px 40px;
    background-size: 52.5px 40px;
}
.fk-hd-desc{
    position: absolute;
    left: 0;
    width: 100%;
    text-align: center;
    top: 170px;
    font-size: 16px;
}
.fk-hd-time{
    position: absolute;
    top: 212px;
    left: 30px;
    height: 40px;

}
.fk-hd-cd{
    position: relative;
    float: left;
    width: 40px;
    height: 40px;
    text-align: center;
    background-color: #2f3430;
    margin-right: 5px;
}
.fk-hd-cd:after{
    content:"";
    display: block;
    position: absolute;
    left: 0;
    width: 100%;
    top: 50%;
    height: 1px;
    background: #e83632;
}
.cd-text{
    position: relative;
    line-height: 40px;

    font-size: 20px;
}
.cd-hours{

}
.cd-minutes{

}
.cd-seconds{

}
.fk-bd{
    float:left;
    position:relative;
    width:799px;
    overflow:hidden;
}

.fk-list{
    position: relative;
    float: left;
    width:1599px;
    height: 275px;
    transform:translate3d(0px, 0px, 0px);
}
.fk-item{
    float: left;
    width: 199.75px;
    position:relative;
    height:275px;
}
.fk-item:after{
    content: '';
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 1px;
    height: 275px;
    top: 0;
    right: 0;
    background: #f0f0f0;
}
.fk-item-lk{
    position: relative;
    display: block;
    width: 190px;
    height: 275px;
    text-align: center;
    margin: auto;

}
.fk-item-img{
    position: absolute;
    transition: opacity .2s linear;
    width: 140px;
    height: 140px;
    left: 50%;
    margin-left: -70px;
    top: 40px;
}
.fk-item-name{
    position: absolute;
    top: 190px;
    left: 0;
    width: 160px;
    padding: 0 15px;
    line-height: 30px;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.fk-item-price{
    position: absolute;
    left: 15px;
    top: 230px;
    width: 160px;
    height: 20px;
    padding: 1px;
    background: #e6382f;
    line-height: 20px;

}
.fk-item-price-new{
    float: left;
    width: 80px;
    height: 20px;
    text-align: center;
    color: #fff;
    font-size: 14px;
    font-weight: bold;

}
.fk-item-price-new i{
    margin-right: 3px;
    font-family: arial;
    font-weight: 400;
    font-size: 12px;
}
.fk-item-price-orign{
    float: left;
    width: 80px;
    height: 20px;
    background: #fff;
    text-align: center;
    color: #b7bcb8;
    font-size: 12px;
    text-decoration: line-through;/*删除线*/
}
.fk-btn{
    border-radius: 0;
    width: 20px;
    height: 40px;
    line-height: 40px;
    background-color: #d9d9d9;
    background-color: rgba(0,0,0,.15);
    margin-top: -20px;
    font-size: 20px;
    z-index: 2;
    border: none;
    outline: none;
    text-align:center;
    transition: all .1s linear;
}
.fk-btn:hover{
    background-color: rgba(0,0,0,.4);
}
.fk-btn-left{
    position:absolute;
    left:0;
    top:50%;
}
.fk-btn-right{
    position:absolute;
    right:0;
    top:50%;

}
/*
@media screen and(min-width:1400px){
    .fk-ch{
        display:block;

    }
}
@media screen and(min-width:1399px){
    .fk-ch{
        display:none;
    }
}
*/
.fk-ch-div{
    position: relative;
    overflow: hidden;
    width: 180px;
    height: 260px;
    padding: 8px 10px 7px;
}
.fk-ch-img{
    float:left;
    width: 180px;
    height: 260px;
}
.fk-ch-img a img{
    width:180px;
}
.fk-ch-btn{
    position:absolute;
    top:90%;
    left:50%;
    margin-left:-18px;
    z-index:1;
}
.fk-ch-circle{
    float:left;
    margin-left:10px;
    width:8px;
    height:8px;
    background-color:#ccc;
    border-radius:8px;
}
.fk-ch-circle:hover{
    background-color:#e33333;

}
.fk-ch-circle-sel{
    background-color:#e33333;
}
.more-pro{
    margin:0 auto;
    margin-top:10px;
}
@media only screen and (min-width: 1190px){
    .more-pro{
        width:1190px;
    }
}
@media only screen and (max-width: 1189px){
    .more-pro{
        width:990px;
    }
}
.more-item{
    float:left;
    width:190px;
    height:254px;
    margin: 0 4px 8px;
    position: relative;
    background-color:#fff;
}
.load-img{
    width: 142px;
    height: 142px;
    margin: 24px 24px 16px;
}
.load-img img{
    width:100%;
    height:100%;
}
.more-item-info{
    padding: 15px 10px 0;
    line-height: 22px;
    height: 65px;
}
.more-item-name{
    font-size: 14px;
    color: #333;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.more-item-price{
    text-align: center;
    font-size: 14px;
    color: #f10214;
}
@media only screen and (min-width: 1190px){
    .footer-ser{
        width:1190px;
    }
    .footer-help-inner{
        width:1190px;
    }
    .footer-ser-item{
        width:297px;
    }
    .help-nav{
        width:198px;
    }
}
@media only screen and (max-width: 1189px){
    .footer-ser{
        width:990px;
    }
    .footer-help-inner{
        width:990px;
    }
    .footer-ser-item{
        width:247px;
    }
    .help-nav{
        width:158px;
    }
}

.footer-ser{
    margin:0 auto;
    padding:20px 0;
}
.footer-ser-item{
    float:left;
}
.footer-ser-unit{
    position: relative;
    float:left;
    width:180px;
    margin: 0 auto;
    padding-left: 45px;
}
.footer-ser-tit{
    background-size:36px 171px;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 0;
    width: 36px;
    height: 42px;
    background-image: url(../image/footer-tit.png);
}
.footer-ser-text{
    overflow: hidden;
    width: 100%;
    height: 42px;
    line-height: 42px;
    font-size: 18px;
    font-weight: 700;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: #444;
}
.footer-ser-duo{
    background-position:0 0;
}
.footer-ser-kuai{
    background-position:0 -43px;
}
.footer-ser-hao{
    background-position:0 -86px;
}
.footer-ser-shen{
    background-position:0 -129px;
}
.footer-help{
    margin:0 auto;
    padding:20px 0;
    border-top:1px solid #DEDEDE;
}
.footer-help-inner{
    margin:0 auto;
    border-bottom:1px solid #DEDEDE;
}
.help-nav{
    float:left;
}
.help-tit{
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: bold;

}
.help-text{
    height:22px;
    line-height:22px;
    width:100%;
    font-weight:300;

}
.help-nav-cover{
    float: right;
    width: 200px;
    height: 150px;
    background: url(../image/ico_footer.png) no-repeat 0 0;
}
.cover-tit{
    text-align:center;
}
.help-cover-text{
    line-height:22px;
    width:100%;
    font-weight:300;
}
.help-cover-pos{
    text-align:right;
}
.side{
    position:fixed;
    top:0;
    bottom:0;
    width:5px;
    right:0;
    background-color: #7a6e6e;
}
.sidebar{
    position:fixed;
    top:50%;
    bottom:0;
    margin-top: -61px;
    right:0px;
    width:34px;
    height:219px;
}
.sidebar-tool{
    float:left;
    position:relative;
    width: 34px;
    height: 35px;
    margin-bottom: 1px;
    cursor: pointer;
    background-color: #7a6e6e;
    border-radius: 3px 0 0 3px;
    background-image: url(../image/toolbars.png);
}
.sidebar-tool:hover{
    background-color:#c81623;
    border-radius:0;
    width:97px;
}
.sidebar-tool:hover .sidebar-content{
    background-color:#c81623;
    left:-62px;
}
.sidebar-ico{
    position:absolute;
    top:0;
    left0;
}
.sidebar-content{
    position:absolute;
    width: 62px;
    height: 35px;
    line-height: 35px;
    color: #fff;
    text-align: center;
    font-family: 微软雅黑;
    z-index: 1;
    left: 35px;
    top: 0;
    border-radius: 3px 0 0 3px;
    transition: left .3s ease-in-out .1s;
    background-color: #7a6e6e;
}
.tool-ico-user{
    background-position: -88px -175px;
}
.tool-ico-shopping-car{
    background-position: -50px 0px;
}
.tool-ico-guanzhu{
    background-position: -50px -50px;
}
.tool-ico-zuji{
    background-position: -50px -100px;
}
.tool-ico-message{
    background-position:-190px -150px;
}
.tool-ico-jimi{
    background-position: -50px -150px;
}
.tool-ico-back{
    background-position: -50px -250px;
}
.tool-ico-fankui{
    background-position: -50px -300px;
}
.bottom-bar{
    position:fixed;
    bottom:0;
    right:0;
    width:34px;
    height:72px;
}
@media only screen and (min-width: 1190px){
    .fixed-bar-inner{
        width: 1190px;
    }
}
@media only screen and (max-width: 1189px){
    .fixed-bar-inner{
        width: 990px;
    }
}
.fixed-bar{
    height: 48px;
    margin: auto;
    position:fixed;
    top:0;
    left:0;
    right:0;
    background-color:#fff;
    border-bottom:3px solid #f10215;
    box-shadow: 2px 2px 2px rgba(0,0,0,.2);
    z-index: 21;
}
.fixed-bar-inner{
    margin:auto;
    height:48px;
    background-color:#fff;
    position:relative;
}
.fixed-bar-logo{
    position: absolute;
    left: 0;
    top: 4px;
    width: 125px;
    height: 40px;
    background-image:url(../image/sprite.head@2x.png);
    background-size:374px 339.5px;
    background-position:-187px 0px;
}
.fixed-bar-text{
    border-color: #efefef;
    background-color: #efefef;
}
.fixed-form{
    top: 6px;
}
