body{
    margin:0;
    padding:0;
    font-size: 14px;
    font-family: "Microsoft YaHei","Hiragino Sans GB";
    color: #666;
    background: #fff;
}
input:focus{
    outline:none;
}
button{
    outline:none;
    cursor: pointer;
}
a{
    color: #666;
    text-decoration: none;
}
a:hover{
   color: #C81623;
}
.header{
    margin:0 auto;
    padding:0;
    height:110px;
    width:100%;
    box-shadow: 0px 10px 10px -6px rgba(0,0,0,.2);
    border:0;
}
@media only screen and (min-width: 1190px){
    .header-inner{
        height:76px;
        width:1190px;
    }
    .w{
        width:1190px;
    }
    .links a{
        width:107px;
    }
}
@media only screen and (max-width: 1189px){
    .header-inner{
        height:76px;
        width:990px;
    }
    .w{
        width:990px;
    }
    .links a{
        width:88px;
    }

}
.header-inner{
    height:76px;
    margin:0 auto;
}
.header-logo{
    float:left;
    width:160px;
    height:50px;
    margin-top:24px;
    background-image:url(../image/sprite.head@2x.png);
    background-position:-300px -5px;
    background-size:561px 509.25px;
}
.header-title{
    float: left;
    height: 34px;
    line-height: 34px;
    font-size: 24px;
    color: #333;
    padding-left: 50px;
    margin-top: 40px;
}
.header-text{
    float: right;
    font-size: 16px;
    float: right;
    margin-top: 55px;
    margin-right:80px;
    color: #999;
}
.reg-content{
    margin:50px auto;
    height:605px;
}
.content-inner{
    margin:0 auto;
}
.h{
    width:830px;
    height:605px;
}
.inner-left{
    float:left;
    width:400px;
    height:605px;
}
.inner-right{
    float: left;
    margin-left: 104px;
    height: 605px;
    padding-left: 90px;
    border-left: solid 1px #e6e6e6;
}
.form-item{
    position: relative;
    border: solid 1px #ddd;
    width: 398px;
    height: 52px;
}
.form-item label{
    float: left;
    width: 90px;
    height: 52px;
    line-height: 52px;
    padding-left: 20px;
}
.text-error{
    border-color:#e22;
}
.form-item input{
    border: 0 none;
    font-size: 14px;
    width: 190px;
    height: 19px;
    padding-bottom: 11px;
    padding-left: 20px;
    padding-top: 16px;
}
.input-tip{
    color: #c5c5c5;
    height: 27px;
    font-size: 12px;
    width:100%;
    padding-top: 5px;
    position:relative;
}
.input-tip span{
    display:inline-block;
    line-height:20px;
    width:100%;
    height:22px;
}
.error{
    color: #e22;
}
.i-tip{
    display: inline-block;
    width: 16px;
    height: 16px;
    vertical-align: text-top;
    margin-right: 8px;
    background-image:url(../image/regist/icon.png);

}
.i-check{
    position:absolute;
    right:0px;
    top:17px;

}
.i-ico-info{
    background-position:0px -100px;
}
.i-ico-error{
    background-position:-17px -100px;
}
.i-ico-success{
    background-position:0px -117px;
}
.i-ico-ruo{
    background-position:-17px -134px;
}
.i-ico-zhong{
    background-position:-34px -117px;
}
.i-ico-qiang{
    background-position:-34px -134px;
}
.hidden{
    display:none;
}
.for-email{
    padding-right:20px;
    padding-bottom:10px;
    font-size: 12px;
    text-align:right;
}
.for-email a{
    color: #38f;
}
.for-email a:hover{
    cursor:pointer;
}
.form-item-authcode input{
    width:125px;
}
.img-code{
    position: absolute;
    right: 28px;
    top: 3px;
    width: 110px;
    height: 46px;
    cursor: pointer;
}
.regist-btn{
    width: 100%;
    height: 54px;
    color: #fff;
    background: #e22;
    border: 0;
    font-size: 16px;
    font-family: "Microsoft YaHei","Hiragino Sans GB";
}
.right-item{
    width:160px;
    height:60px;
    margin-left: 30px;
    margin-top: 30px;
    border-bottom:1px solid #ddd;
}
.right-item a span{
    display:inline-block;
    float:left;
    width:114px;
}
.right-item a span:hover{
    font-weight:800;
}
.i-ico{
    display: inline-block;
    float:left;
    width: 30px;
    height: 29px;
    vertical-align: middle;
    margin-right: 15px;
    background-image:url(../image/regist/icon.png);
}
.i-company{
    background-position: 0 -50px;
}
.i-global{
    background-position: -50px -50px;
}
.last-item{
    border:0;
}
.footer{
    font-size: 12px;
    text-align: center;
    border-top: solid 1px #e6e6e6;
    color: #999;
    padding-bottom: 30px;
    height:118px;
}
.links{
    margin:0 auto;
    padding-top: 30px;
    padding-bottom: 15px;
}
.links a{
    float:left;
}
.line{
    float:left;
    width:1px;
    margin-top:3px;
    background-color:#ddd;
    height:12px;
}
.copyright{
    padding-top:30px;
}